In [1]:
import pandas as pd
data=pd.read_csv("Copy of Online Retail.csv")
data.head()
data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [ ]:
data = data[~data["InvoiceNo"].str.startswith("C")]

cleaning the description coloumn !!

In [2]:
data["Description"].isnull().sum()
data = data[data["Description"].notna()]
data["Description"].isnull().sum()
data["Description"] = data["Description"].str.strip()
data["Description"] = data["Description"].str.lower()
product_counts = data["Description"].value_counts()
data = data[data["Description"].isin(product_counts[product_counts > 5].index)]
keys=["????","discount","postage","manual","adjustment","wet","refund","damages"]
data = data[~data["Description"].isin(keys)]
data.shape
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,white hanging heart t-light holder,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,white metal lantern,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,cream cupid hearts coat hanger,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,knitted union flag hot water bottle,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,red woolly hottie white heart.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

Cleaning Quantities now!!

In [3]:
data["Quantity"].describe()
data = data[data["Quantity"] > 0] # removed negative and zero quantities

#handle outliers using quantile method 
Q1 = data["Quantity"].quantile(0.25)
Q3 = data["Quantity"].quantile(0.75)

IQR =Q3-Q1
upper_limit =Q3 + 1.5*IQR
data = data[data["Quantity"]<=upper_limit]

cleaning the stockcode

In [4]:
data["StockCode"] = data["StockCode"].astype(str)
data["StockCode"] = data["StockCode"].str.upper()
data["StockCode"].str.isalpha().sum()
data = data[~data["StockCode"].str.isalpha()]
data["StockCode"].unique()
data["StockCode"].str.isalpha().sum()
data["StockCode"].dtype

dtype('O')

Cleaning the invoiceNumber

In [5]:
#invoicedate is cleaned here!
data["InvoiceDate"] = pd.to_datetime(data["InvoiceDate"])
data["InvoiceDate"].dtype
data["InvoiceNo"].isnull().sum()
data["Year"] = data["InvoiceDate"].dt.year
data["Month"] = data["InvoiceDate"].dt.month
data["Day"] = data["InvoiceDate"].dt.day
data["Hour"] = data["InvoiceDate"].dt.hour
data["DayOfWeek"] = data["InvoiceDate"].dt.day_name()
data["InvoiceDate"].dt.year.head()

0    2010
1    2010
2    2010
3    2010
4    2010
Name: InvoiceDate, dtype: int32

In [6]:
#unitprice is cleaned here!
data["UnitPrice"].dtype
data["UnitPrice"].min()
data["UnitPrice"].describe()
data = data[data["UnitPrice"] > 0] # removed zero and negative unit prices
#i didnt do the outlier treatment for unitprice because the max was reasonable!

In [10]:
#for country
data["Country"].unique()
data['Country'].value_counts()
data["Country"] = data["Country"].str.strip()

In [12]:
# Save cleaned data to CSV for use by apriori.ipynb
cleaned_path = "cleaned_retail.csv"
data.to_csv(cleaned_path, index=False)
print(f"Cleaned data saved to {cleaned_path}")

Cleaned data saved to cleaned_retail.csv